@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0rem;
  font-family: Oswald, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color:white;
  background: hsl(0,0%,12%);
  overflow-x: hidden;
}
:root {
  --primaryBg: hsl(0,0%,12%);
  --clr-neon: #CFA0E0;
  --clr-bg: #ffff;
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
}
/* html{
  color-scheme: dark light;
} */

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}
@keyframes rotate{
  from{
    rotate: 0deg;
  }
  50%{
    scale: 1 1.5;
  }
  to{
    rotate: 360deg;
  }
}
#blob{
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right,rgb(194, 235, 241),rgb(50, 222, 238));
  opacity: 0.8;
  display: none;
}
#blur{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

@media (hover){
  #blob{
    height: 34vmax;
    animation: rotate 20s infinite;
    display: block;
  }
  #blur{
    backdrop-filter: blur(12vmax);

  }

}
