@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Oswald, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color:white;
  background: hsl(0,0%,12%);
  overflow-x: hidden;
}
:root {
  --clr-neon: #CFA0E0;
  --clr-bg: #ffff;
}
/* html{
  color-scheme: dark light;
} */

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}
#blob{
  background-color: white;
  height: 90px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left:50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right,rgb(194, 235, 241),rgb(50, 222, 238));
  animation: rotate 20s infinite;
  filter: blur(500px);
}
#blur{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(500px);
}
@keyframes rotate{
  from{
    rotate: 0deg;
  }
  50%{
    scale: 1 1.5;
  }
  to{
    rotate: 360deg;
  }
}