@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Oswald, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color:white;
  background: hsl(0,0%,12%);
  overflow-x: hidden;
}
html{
  color-scheme: dark light;
}

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}